:root {
    --color-accent: #3F9FFF;
    --color-hover: #1e4b7b;
    --color-main: #333333;
    --color-accent2: #ff277e;
    --font-logo: 'TangoBT';
    --font-header: 'Raleway';
    --font-main: 'Roboto';
}